.main-view {
  // GALLERY

  .gallery {
    display: flex;

    &__photo {
      width: 100%;
      display: block;
    }
  }

  // OVERVIEW

  .overview {
    border-bottom: var(--line);

    display: flex;
    align-items: center;

    @include respond(mini) {
      flex-wrap: wrap;
      align-content: space-between;
      padding: 1rem;
    }

    & > *:nth-child(odd) {
      @include respond(mini) {
        flex: 0 0 70%;
        padding-left: 2rem;
      }
    }

    & > *:nth-child(even) {
      @include respond(mini) {
        flex: 0 0 30%;
      }
    }

    &__heading {
      font-size: 2.25rem;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 1.5rem 3rem;

      @include respond(small) {
        font-size: 1.8rem;
        padding: 1.25rem 2rem;
      }

      @include respond(mini) {
        padding: 0.5rem 2rem;
      }
    }

    &__stars {
      margin-right: auto;
      display: flex;

      @include respond(mini) {
        justify-content: center;
      }
    }

    &__icon {
      &--star,
      &--location {
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);
      }
    }

    &__location {
      font-size: 1.2rem;
      display: flex;
      align-items: center;
    }

    &__icon--location {
      margin-right: 0.5rem;
    }

    &__rating {
      background-color: var(--color-primary);
      margin-left: 3rem;
      color: var(--color-white);
      padding: 0 2.25rem;
      align-self: stretch;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include respond(mini) {
        margin-left: 0;
        background-color: var(--color-white);
        color: var(--color-primary);
      }

      &-average {
        font-size: 2.25rem;
        font-weight: 300;
        margin-bottom: -3px;

        @include respond(small) {
          font-size: 1.8rem;
        }

        @include respond(mini) {
          font-weight: 400;
        }
      }

      &-count {
        font-size: 0.8rem;
        text-transform: uppercase;

        @include respond(small) {
          font-size: 1rem;
        }
      }
    }
  }

  // DETAIL

  .detail {
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);

    @include respond(medium) {
      padding: 3rem;
    }
  }

  .description {
    background-color: var(--color-white);
    box-shadow: var(--shadow-light);
    padding: 3rem;
    margin-right: 4.5rem;

    @include respond(medium) {
      padding: 2rem;
      margin-right: 3rem;
    }

    @include respond(small) {
      margin-right: 0;
      margin-bottom: 3rem;
    }
  }
}
