.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;
}

.header {
  height: 7rem;
}

.content {
  display: flex;
}

.sidebar {
  flex: 0 0 18%;
}

.main-view {
  flex: 1;
}

.detail {
  display: flex;
}

.description {
  flex: 0 0 60%;
}

.user-reviews {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}
